{% extends "base.html" %}
     {% block search %} <td><b>Search</b></td>{% endblock %}


{% block content %}
<div class="page-header">
  <p class="lead">{{showNum}} results for <b>{{stream_name}}</b>,<br>  click on image to view stream</p>
</div>

{% for stream in stream_list %}
           <table border="1" style="width:100%">


               <td><div style = "position:relative">
                   <a href = "{{stream.url}}">
                         {% if stream.numberofpictures > 0 %}
                       <img src="/view_photo/{{key_list[loop.index0]}}" >
                       {%else%}
                       <img src="http://www.estatesale.com/img/no_image.gif" >
                       {% endif %}
                       <div style = "position: absolute; left:150px; top:20px"></div>
                   </a>
               </div>
               </td>

           </table>
{% endfor %}


{% endblock %}