{% extends "base.html" %}
{% block content %}
<div class="page-header">
    <h1>{{stream_name}}</h1>
</div>

{%if(status==(1,1))%}
<form action="delpic" method="post">
    <div class="image-row">
        <div class="image-set">
            <table>
                {%for info in infos%}
                {%if(info[2]==0)%}
                <tr>
                    {%endif%}

                    <td><a class="example-image-link" href="img?img_id={{info[0]}}" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
                        <img class="example-image" src="/view_photo/{{info[1]}}" alt="" class="img-thumbnail" /></a>
                        <input type="checkbox" name="status", value="{{info[1]}}">
                    </td>

                    {%if(info[2]==3)%}
                </tr>
                {%endif%}

                {%endfor%}</table>
        </div>
    </div>

    <input type="submit" class="btn btn-danger" value="Delete Selected">
</form>


<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <div class="col-md-4"><p><a class="btn btn-primary" href="{{url}}" role="button">Go back &raquo;</a></p></div>
</div>

{%else%}
<div class="image-row">
    <div class="image-set">
        <table>
            {%for info in infos%}
            {%if(info[2]==0)%}
            <tr>
                {%endif%}
                <td><a class="example-image-link" href="img?img_id={{info[0]}}" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
                    <img class="example-image" src="/view_photo/{{info[1]}}" alt="" class="img-thumbnail" /></a>
                </td>
                {%if(info[2]==3)%}
            </tr>
            {%endif%}
            {%endfor%}</table>
    </div>
</div>

{%if(status==(1,0))%}



<div class="row">
    <div class="col-md-4"><form action="subscribe" method="post"><input type="submit" class="btn btn-success" value="Subscribe">
    </form></div>
    <div class="col-md-4"></div>
    <div class="col-md-4"><p><a class="btn btn-primary" href="{{url}}" role="button">Go back &raquo;</a></p></div>
</div>
{%endif%}
{%endif%}




{% endblock %}