{% extends "base.html" %}
   {% block trending %} <li class="active"><a href="trending">Trending</a></li>{% endblock %}


{% block content %}
<div class="page-header">
  <h1>Top 3 Trending Streams</h1>
  <p class="text-primary">Check out these hottest streams!</p>
</div>

<table style = "width:70%">
        {% for stream in stream_list%}

        <td><div style = "position:relative">
            <a href="{{stream.url}}"><img src="{{stream.coverurl}}" >
                <div style = "position: absolute; left:0px; top:0px">{{stream.name}}</div>
            </a>
        </div>
            <div>{{count_list[loop.index0]}} views in the past hour.</div>
        </td>
        {% endfor %}
    </table>

<div class="col-sm-4">
    <form action="/update" method="post">
        <!--<ul>-->
    <table style="width:100%">

    <tr><th>No reports <input type="radio" name="frequency" value="no" ></th></tr>
    <tr><th>Every 5 minutes <input type="radio" name="frequency" value="5m"></th></tr>
    <tr><th>Every 1 hour <input type="radio" name="frequency" value="1h" ></th></tr>
      <tr><th>Every day <input type="radio" name="frequency" value="1d" ></th></tr>

 </table>
        <!--</ul>-->

    <input type="submit" value="Update rate" class="btn btn btn-primary">
<!--</form>-->
        </div>
{% endblock %}