{% extends "base.html" %}
     {% block view %}<li class="active"><a href="viewallstreams">View</a></li>{% endblock %}


{% block content %}
<div class="page-header">
  <h1>View All Streams</h1>

</div>

<table style = "width:100%">


    {% for stream in all_streams%}

          {% if stream %}
            {% if loop.index0 %3 == 0 %}
            <tr>
                 {% endif %}

               <td>
                    <figcaption>{{stream.name}}</figcaption>
                    <a href="{{stream.url}}">
                    <img src="{{stream.coverurl}}" alt="Cover Image" style="width:304px;height:228px;">
                    </a>
               </td>
                {% if loop.index0 %3 == 2 %}
                    </tr>
                {% endif %}

          {% endif %}
        {% endfor %}
      </table>


{% endblock %}
